main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem 0px;
    padding: 1rem 10rem;
}

main h1, h2, h4 main p {
    margin: 0;
}

.main .statistics {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem 0px;
    align-items: center;
}

.main .statistics > * {
    width: 25%;
    height: auto;
}

.main .statistics .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: clamp(1rem, 2vw, 3rem);
    -webkit-box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
    border-radius: 0.5rem;
    min-width: 220px;
    aspect-ratio: 4 / 3;
}

.main .statistics .card img {
    width: 40%;
}

.main .statistics .card .title {
    font-weight: 600;
    font-size: clamp(0.5rem, 2vw, 1.5rem);
    text-align: center;
    width: max-content;
}

.main .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}

.main .cards .card {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    -webkit-box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
    padding: 1rem;
}

.main .cards .card img {
    width: 80px;
}

.main .cards .card .title {
    font-weight: 600;
    text-align: center;
}